<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nsit.app.com.nsitapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Decsription"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_decsription" />
        <activity
            android:name=".ImageAct"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_image" />
        <activity
            android:name=".LocationMapView"
            android:configChanges="orientation|screenSize"
            android:label="LocationMapView" />

        <activity
            android:name=".Locations"
            android:configChanges="orientation|screenSize"
            android:label="LocationMapView" />
        <activity
            android:name=".ChooseClass"
            android:configChanges="orientation|screenSize"
            android:label="Select" />
        <activity
            android:name=".ChooseFeedItems"
            android:label="@string/title_activity_choose_feed_items" />
        <activity
            android:name=".SubjectsShow"
            android:label="@string/title_activity_subjects_show" />
        <activity
            android:name=".SubjectRemove"
            android:label="@string/title_activity_subject_remove" />
        <activity
            android:name=".ProfList"
            android:label="@string/title_activity_subject_remove" />

        <!-- For google maps-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgktirlOODUO9zWD-808D7zycmP7smp-Y" />

        <provider
            android:name="nsit.app.com.nsitapp.data.ContestProvider"
            android:authorities="nsit.app.com.nsitapp"
            android:exported="false"
            android:label="coderadar provider"
            android:syncable="true" />


        <service android:name="nsit.app.com.nsitapp.sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>


        <service
            android:name="nsit.app.com.nsitapp.sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>


        <receiver android:name="nsit.app.com.nsitapp.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="nsit.app.com.nsitapp.NotificationService" />


        

        <activity
            android:name="nsit.app.com.nsitapp.view.ContestDetailActivity"
            android:label="@string/title_activity_contest_detail"
            android:parentActivityName="nsit.app.com.nsitapp.view.contest_reminder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nsit.app.com.nsitapp.view.contest_reminder" />
        </activity>


        <activity
            android:name="nsit.app.com.nsitapp.view.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="nsit.app.com.nsitapp.view.contest_reminder"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nsit.app.com.nsitapp.view.contest_reminder" />
        </activity>

        <activity

            android:name=".view.contest_reminder"
            android:label="@string/title_activity_contest_reminder"
            android:theme="@style/AppTheme2">

        </activity>


        <activity android:name=".PlaceMapActivity"
            android:label="Place On Map"
            android:theme="@style/AppTheme"
            android:parentActivityName=".HangoutsTypeDisplay" />
        <activity android:name=".HangoutsTypeDisplay" />

    </application>

</manifest>
