<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nsit.app.com.nsitapp" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-permission android:name="android.permission.INTERNET" />


        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Decsription"
            android:label="@string/title_activity_decsription" >
        </activity>
        <activity
            android:name=".ImageAct"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name=".LocationMapView"
            android:label="LocationMapView" >
        </activity>

        <uses-permission android:name="android.permission.INTERNET" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgktirlOODUO9zWD-808D7zycmP7smp-Y"/>
        <activity
            android:name=".Choose"
            android:label="Select" >
        </activity>
    </application>

</manifest>
